
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container{
        margin-top:200px;
    }
</style>
<div class="container">
    <!-- Nhúng bản đồ google map -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15678.67890735286!2d106.6647488395508!3d10.759917099999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b7c3ed289%3A0xa06651894598e488!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTw6BpIEfDsm4!5e0!3m2!1svi!2s!4v1680528884693!5m2!1svi!2s" width="1280" height="550" style="border: 0; margin: 0 auto" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

